[unit]
#textdomain wesnoth-Under_the_Burning_Suns
id=Alien Body
name= _ "Alien Body"
race=monster
image="skeletal-dragon.png"
hitpoints=100
movement_type=smallfoot
[movement_costs]
	cave=99
	grassland=99
[/movement_costs]
[resistance]
	blade=0
	pierce=0
	impact=0
	fire=0
	cold=0
	holy=0
[/resistance]
movement=7
experience=30
level=3
alignment=chaotic
advanceto=null
cost=20
usage=fighter
unit_description= _ "This thing is impossible to describe, no one has seen anything like it before."
get_hit_sound=groan.wav
	[attack]
	name=touch
	type=cold
	range=short
	damage=6
	number=3
	[/attack]

	[attack]
	name=wail
	type=cold
	range=long
	damage=8
	number=2
		[missile_frame]
		begin=-200
		end=0
		image="projectiles/darkmissile-n.png"
		image_diagonal="projectiles/darkmissile-ne.png"
		[/missile_frame]
	[/attack]
[/unit]
