[unit]
#textdomain wesnoth-Under_the_Burning_Suns
	id=Giant Tentacle
	name= _ "Giant Tentacle"
	race=monster
	image=giant-tentacle.png
	[defend]
		[frame]
			begin=-150
			end=150
			image="giant-tentacle-defend.png"
		[/frame]
	[/defend]
	[abilities]
		{ABILITY_REGENERATES}
	[/abilities]
	hitpoints=22
	movement_type=float
	movement=3
	experience=500
	level=1
	alignment=chaotic
	advanceto=null
	{AMLA_TOUGH 3}
	cost=15
	usage=fighter
	unit_description= _ "Giant Tentacles are probably the appendages of some larger monster that lurks deep beneath the waters, though no one knows for sure."
	get_hit_sound=ugg.wav
	[death]
		[frame]
			begin=0
			end=150
			image="units/monsters/deep-tentacle-die-1.png"
		[/frame]
		[frame]
			begin=150
			end=300
			image="units/monsters/deep-tentacle-die-2.png"
		[/frame]
		[frame]
			begin=300
			end=450
			image="units/monsters/deep-tentacle-die-3.png"
		[/frame]
		[frame]
			begin=450
			end=600
			image="units/monsters/deep-tentacle-die-4.png"
		[/frame]
		[frame]
			begin=600
			end=750
			image="units/monsters/deep-tentacle-die-5.png"
		[/frame]
		[frame]
			begin=750
			end=900
			image="units/monsters/deep-tentacle-die-6.png"
		[/frame]
	[/death]
	[attack]
		name=tentacle
		icon=attacks/tentacle.png
		type=impact
		range=melee
		damage=5
		number=3
		[animation]
			[frame]
				sound=fist-swish.wav
				begin=-250
				end=-249
			[/frame]
			[frame]
				begin=-100
				end=50
				image="units/monsters/deep-tentacle-attack.png"
			[/frame]
		[/animation]
	[/attack]
[/unit]
